@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: white;
}
.roboto {
  font-family: "Roboto", sans-serif;

}